<div class="Container">
  <h1 style="margin-bottom: 80px;">HTML to Sketch</h1>
  <div class="FieldBox" style="margin-bottom: 16px;">
    <label class="FieldBox__label">http://</label>
    <input id="FieldBox__input" class="FieldBox__input" type="text" placeholder="Enter adress">
  </div>
  <div>
    <button id="SubmitBtn" class="SubmitBtn" type="button" onclick="requestHTMLtoSketch()">Convert</button>
  </div>
  <div id="Alert" class="Alert">
    <span class="Alert__fail-icon">X</span>
    <span id="Alert__message"></span>
  </div>
  <a id="downloader" style="display: none"></a>
</div>